*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.header {
  width: 100%;
  height: 70px;
  background-color: gray;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu {
  display: none;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.burger-line {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -15px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger-line::after {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  content: '';
  margin-top: 16px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger-line::before {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
  content: '';
  margin-top: -9px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.burger-line.activ {
  height: 0;
}

.burger-line.activ::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 8px;
}

.burger-line.activ::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin: -2px 0 -9px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  font-family: 'OpenSans','Areal';
  font-size: 24px;
  text-transform: uppercase;
}

.menu.mob {
  width: 320px;
  height: 100%;
  padding: 20px 10px;
  background-color: orange;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 70px;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.menu.mob.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu-item {
  cursor: pointer;
  padding: 1em 2em;
  background-color: transparent;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-item.mob + .menu-item.mob {
  margin: 20px 0 0 0;
}

.menu-item.decktop + .menu-item.decktop {
  margin: 0 0 0 20px;
}

@media (max-width: 1100px) {
  .menu.decktop {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .menu.mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
