*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.header{
    width: 100%;
    height: 70px;
    background-color: gray;
}
.container{
    height: 100%;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    // burger icon
.burger-menu{
    display: none;
    width: 40px;
    height: 40px;
    
    background-color: rgba(255, 255, 255, .4);
    border-radius: 50%;
    overflow: hidden;

    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

    // burger menu line
.burger-line{
    display: block;
    width: 30px;
    height: 2px;
    background-color:#000;

    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -15px;
    transition: all .3s ease 0s;
    &::after{
        display: block;
        width: 30px;
        height: 2px;
        background-color:#000;
        content:'';
        margin-top: 16px;
        transition: all .3s ease 0s;
    }
    &::before{
        display: block;
        width: 30px;
        height: 2px;
        background-color:#000;
        content:'';
        margin-top: -9px;
        transition: all .3s ease 0s;;
    }
    &.activ{
        height: 0;
        &::after{
            transform: rotate(-135deg);
            margin-top: 8px;
        }
        &::before{
            transform: rotate(135deg);
            margin: -2px 0 -9px 0;
        }
    }
}
    // MENU
    // desktop version
.menu{   
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-family: 'OpenSans','Areal';
    font-size: 24px;
    text-transform: uppercase;

    // mobile version menu
    &.mob{
        width: 320px;
        height: 100%;
        padding: 20px 10px;
        background-color: orange;

        display: none;
        justify-content: flex-start;
        flex-direction: column;

        position: fixed;
        top: 70px;
        right: 0;
        transform: translateX(100%);
        transition: all .5s ease 0s;
        &.show{
            transform: translateX(0%);
        }
    }
}
    // item menu
.menu-item{
    cursor: pointer;
    padding: 1em 2em;
    background-color: transparent;
    &:hover{
        background-color: rgba( transparent, 0.2)
    }
    &.mob + .menu-item.mob{
        margin: 20px 0 0 0;
    }
    &.decktop + .menu-item.decktop{
        margin: 0 0 0 20px;
    }
}


@media(max-width:1100px){
    // hide desktop menu in mobile version
    .menu.decktop{
        display: none;
    }
    // show burger menu icon
    .burger-menu{
        display: block;
    }
    // hide mobile menu in desktop vervion
    .menu.mob{
        display: flex;
    }

}
